body {
  width: 1920px;
  background-color: #cccccc;
}

.container {
  width: 1345px;
  padding: 0 25px;
  border: 1px solid tomato;
  margin: 0 auto;
}

.header-icon {
  fill: white;
  width: 153px;
  height: 46px;
}

.social-icon {
  fill: white;
  width: 36px;
  height: 36px;
}
