.pane {
  display: none;
  padding: 8px;
  border: 1px solid blue;
  border-radius: 3px;
}

.is-active {
  display: block;
}

body {
  width: 1500px;
  background-color: #e5e5e5;
  font-family: 'adamina';
  font-weight: 400;
}
.section {
  padding: 150px 136px;
  width: 1344px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid chartreuse;
}

.about-title {
  width: 430px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.4; /* 50/36 */
}
.about-subtitle {
}

.about-pre-text {
}
.about-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-item {
  display: flex;
  align-items: baseline;
}

.about-item::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #8d86c9;
  margin-right: 23px;
}

.about-right {
  display: flex;
  outline: 1px solid crimson;
  background-color: #f7ece1;

  background-image: linear-gradient(to left, #f7ece1 65%, #e5e5e5 65%);

  padding-top: 70px;
  padding-bottom: 84px;
  padding-right: 60px;
}

.icon {
  margin-right: 60px;
}

.about-text {
  font-size: 14px;
  line-height: 1.4;
}
