:root {
  --bg-color: #e5e5e5;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --primyri-white-color: #ffffff;
  --first-text-color: #555555;
  --second-text-color: #9da4bd;
  --accent-color: #ff6c00;
}

/* сброс */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*                               общие стили  */

body {
  background: var(--primyri-white-color);
  font-family: 'open sans', sans-serif;
}

.section-subtitle {
  color: var(--second-title-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.section-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
}
/* header */

.page-header {
  background-color: var(--bg-color);
}

.nav-list .link {
  color: var(--primyri-white-color);
  font-weight: 600;
  /* letter-spacing: 10%; */
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--primyri-white-color);

  font-weight: 600;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/*                           кнопки */
.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
}

.first-btn {
  color: var(--primyri-white-color);
  background-color: #000000;
}

.first-btn:hover,
.first-btn:focus {
  background-color: var(--accent-color);
}

.second-btn {
  color: var(--second-title-color);
  background-color: var(--primyri-white-color);
}

.second-btn:hover,
.second-btn:focus {
  color: var(--primyri-white-color);
  background-color: var(--accent-color);
}

/*                                          HERO */

.hero-list .link,
.footer-link {
  color: var(--second-title-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.footer-link:hover,
.footer-link:focus,
.hero-list .link:hover,
.hero-list .link:focus {
  color: var(--accent-color);
}

.hero-subtitle {
  font-weight: 600;
  font-size: 11px;
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  color: var(--primyri-white-color);
  background-color: teal;
  font-family: Raleway;
  font-weight: 700;
  font-size: 72px;
}

.hero-text {
  color: #9da4bd;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.5;
  letter-spacing: 2%;
}
/*                       about */
.about {
  color: var(--second-title-color);
}
.section-about .text {
  color: var(--first-text-color);

  font-size: 18px;
  line-height: 1.67;
}

.desc {
  color: var(--first-text-color);

  font-size: 14px;
  line-height: 1.87;
}

/*                                price */
.section-price {
  background-color: teal;
}

.price-text {
  color: rgba(157, 164, 189, 0.6);
}

.price {
  color: var(--first-title-color);
}
.primary-list,
.secondary-list {
  color: var(--second-text-color);
}

/*                     advantages  */
.advantages-list {
  color: var(--second-title-color);
}

.advantages-list .wrap {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.38;
}

.advantages-list .text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.advantages-title {
  color: #303030;
}

.advantages-text {
  color: var(--first-text-color);

  font-size: 18px;
  line-height: 1.67;
}

/*                          masters */

.masters-title {
  color: var(--second-title-color);
}

.masters-list {
  color: var(--second-title-color);
}

.masters-list .title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
}

.masters-list .subtitle {
  color: #ff6c00;

  font-size: 14px;
  line-height: 1.36;
}

/* .social-lis .link:hover,
.social-lis .link:focus {
  color: var(--accent-color);
} */
/*                            section-online */

.section-online {
  background-color: #000000;
}

/*               контакты */

.section-contacts {
  background-color: #000000;
}
.online-title {
  color: var(--first-title-color);
}

.contacts-title {
  color: var(--first-title-color);
}

.addr {
  color: var(--second-text-color);
}

.addr .link {
  color: currentColor;

  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
}

.section-contacts .text {
  color: var(--primyri-white-color);

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.section-contacts .subtitle {
  color: var(--second-text-color);

  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
}
/*             footer */
.footer {
  background-color: #f7f7f7;
}

.footer-text {
  color: var(--second-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
