:root {
  --bg-color: #e5e5e5;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --primyri-white-color: #ffffff;
  --first-text-color: #555555;
  --second-text-color: #9da4bd;
  --accent-color: #ff6c00;
}

/* сброс */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

/*                               общие стили  */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  border: 1px solid tomato;
}

body {
  outline: 1px solid chocolate;
  width: 1280px;
  background: var(--bg-color);
  font-family: 'open sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-subtitle {
  display: flex;
  align-items: center;
  color: var(--second-title-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.section-subtitle::before {
  content: '';
  width: 60px;
  height: 1px;

  margin-right: 20px;
  background-color: #303030;
}

.section-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header */

.page-header {
  background-color: var(--bg-color);

  padding-top: 32px;
  padding-bottom: 32px;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 70px;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list .link {
  color: var(--primyri-white-color);
  font-weight: 600;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--primyri-white-color);

  font-weight: 600;
}
.header-btn {
  margin-left: 60px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/*                           кнопки */
.btn {
  min-width: 160px;
  height: 40px;
  padding: 12px 20px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 9%;

  border-radius: 25px;
  border: 2px solid #ff6c00;

  background-color: transparent;
}

.first-btn {
  color: var(--primyri-white-color);
}

.first-btn:hover,
.first-btn:focus {
  background-color: var(--accent-color);
}

.second-btn {
  color: var(--second-title-color);
}

.second-btn:hover,
.second-btn:focus {
  color: var(--primyri-white-color);
  background-color: var(--accent-color);
}

/*                                          HERO */

.hero-container {
  display: flex;
}

.hero-list::before {
  content: '';
  height: 1px;
  width: 60px;
  display: inline-block;

  background-color: var(--second-title-color);
  margin-right: 40px;
}

.hero-list {
  width: 93px;
}

.hero-list .item:not(:last-child) {
  margin-right: 40px;
}

.hero-list .link,
.footer-link {
  color: var(--second-title-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.footer-link:hover,
.footer-link:focus,
.hero-list .link:hover,
.hero-list .link:focus {
  color: var(--accent-color);
}

.hero-subtitle::before {
  content: '';
  height: 1px;
  width: 60px;
  margin-right: 21px;
  background-color: rgba(157, 164, 189, 0.6);
}

.hero-subtitle {
  display: flex;
  align-items: center;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  color: var(--primyri-white-color);
  background-color: teal;
  font-family: Raleway;
  font-weight: 700;
  font-size: 72px;

  margin-bottom: 20px;
}

.hero-text {
  width: 400px;

  color: #9da4bd;
  font-weight: 400;
  font-size: 18px;

  line-height: 2.5;
  letter-spacing: 2%;
}

.hero-box {
  padding-top: 270px;
  padding-bottom: 200px;
  padding-right: 100px;
  flex-grow: 1;
}
/*                       about */
.container.about {
  display: flex;
}

.section-about {
  padding-top: 163px;
  padding-bottom: 88px;
  background-color: #ffffff;
}

.about-title {
  width: 480px;
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.about-list {
  display: flex;
  margin-right: 63px;
}

.about-list .item:not(:last-child) {
  margin-right: 30px;
}

.about-subtitle {
  width: 500px;
  margin-bottom: 20px;
}

.section-about .text {
  width: 500px;
  color: var(--first-text-color);

  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.67;
}

.desc {
  width: 500px;
  color: var(--first-text-color);

  margin-bottom: 38px;

  font-size: 14px;
  line-height: 1.87;
}

/*                                price */
.section-price {
  background-color: #111319;
  background-image: url(../image/price.png);
}

.price-box {
  display: flex;
  justify-content: space-between;

  margin-bottom: 50px;
}

.price-text::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.price-text {
  display: flex;
  align-items: center;
  color: rgba(157, 164, 189, 0.6);

  margin-bottom: 20px;
}

.price-title {
  color: var(--first-title-color);

  margin-bottom: 44px;
}

.secondary-list {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.primary-list {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.primary-list .item::after,
.secondary-list .item::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);

  margin-left: 6px;
  margin-right: 6px;
}

.primary-list .item:not(:last-child) {
  margin-bottom: 20px;
}

.secondary-list .item:not(:last-child) {
  margin-bottom: 20px;
}
.primary-list,
.secondary-list {
  padding: 30px 40px;
  width: 50%;
  color: var(--second-text-color);
}

.primary-list .span,
.secondary-list .span {
  order: 1;
}

.primary-list .item,
.secondary-list .item {
  display: flex;
  align-items: end;
}

.first-btn.price {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*                     advantages  */
.advantages-list {
  color: var(--second-title-color);
  display: flex;
  flex-wrap: wrap;
}

.advantages-box {
  display: flex;
  padding-left: 100px;
  padding-right: 70px;
}

.advantages {
  background-color: #fff;

  padding-top: 143px;
  padding-bottom: 137px;
}
.advantages-item:nth-child(odd) {
  margin-right: 30px;
}

.advantages-item:nth-child(-n + 2) {
  margin-bottom: 30px;
}

.advantages-item {
  width: 170px;
  height: 133px;

  padding: 24px 20px;

  text-align: center;

  background-color: #f7f7f7;
}

.advantages-list .wrap {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.38;
}

.advantages-list .text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.advantages-subtitle {
  margin-bottom: 20px;
}

.advantages-title {
  color: #303030;
  margin-bottom: 20px;
}

.advantages-text {
  color: var(--first-text-color);

  font-size: 18px;
  line-height: 1.67;
}
.advantages-rigth {
  margin-left: 130px;
}

/*                          masters */

.masters-title {
  color: var(--second-title-color);

  margin-bottom: 44px;
}

.masters-subtitle {
  margin-bottom: 20px;
}

.masters-list {
  color: var(--second-title-color);
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;

  text-align: center;
}

.masters-list > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.masters-list .title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;

  margin-bottom: 8px;
}

.masters-list .subtitle {
  color: #ff6c00;

  font-size: 14px;
  line-height: 1.36;

  margin-bottom: 30px;
}

.masters-list .icon {
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list .item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
}

.social-list .item:not(:last-child) {
  margin-right: 10px;
}

/*                                gallery */
.gallery-section {
  background-color: var(--primyri-white-color);
}

.gallery-subtitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.gallery-list .item {
  width: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

/*                            section-online */

.section-online {
  background-color: #191c26;
}

.online-box {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.online-left {
  padding-top: 130px;
  padding-left: 55px;
}

/*               контакты */

.contacts-box {
  padding-left: 100px;
  padding-top: 130px;
  padding-bottom: 130px;
  width: 625px;

  background-image: url(../image/online.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.online-title {
  color: var(--first-title-color);
}

.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 40px;
}

.addr {
  color: var(--second-text-color);
  font-style: normal;
}

.addr .link {
  color: currentColor;

  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
}

.addr-list {
  margin-bottom: 70px;
}
.addr-list .item:not(:last-child) {
  margin-bottom: 20px;
}

.section-online .text {
  display: flex;
  align-items: center;

  color: var(--primyri-white-color);

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-online .text::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
  margin-right: 20px;
}

/*             footer */
.footer {
  background-color: #f7f7f7;
  padding-top: 57px;
  padding-bottom: 57px;
}

.footer-text {
  color: var(--second-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}
.footer-list {
  display: flex;
  align-items: center;
}
.footer-list .item {
  margin-left: 40px;
}

.footer-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}
